
<container>
    <row class="footer_top">      
      <columns large="5">
        <row>
          <columns large="2">
            <img src="{{root}}/assets/img/logo_circle.png">
            
          </columns>
          <columns large="10" class="info_section" valign="middle">
            <span class="call_to_action">Download the app.</span>
            <span class="info">Cheap flights, hotels & more.</span>

          </columns>
        </row>
      </columns>
      <columns large="7" class="store_logos">
        <row>
          <columns large="6">
            <img src="{{root}}/assets/img/appstore.png">
          </columns>
          <columns large="6">
            <img src="{{root}}/assets/img/playstore.png">
          </columns>

        </row>
      </columns>
    </row>
  </container>
  
  