
<container>
  <row class="header">
    <columns large="6" small="6" valign="middle">
      <img src="{{root}}/assets/img/logo_white.png" class="logo_white">
    </columns>
    <columns large="6" small="6" valign="middle">
      <img src="{{root}}/assets/img/user.png" class="user_icon float-right">
    </columns>
  </row>
  <row class="sub-header">
    <columns></columns>
    <columns style="width: 90%;">
      <row>
        <columns small="4" large="3">
          <a href="#" class="text-center">      
            <img src="{{root}}/assets/img/airplane.png" class="icons ">
            Flight
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%;">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3">
          <a href="#" class="text-center">
            <img src="{{root}}/assets/img/bed.png" class="icons ">
            Hotels
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%;">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3">
          <a href="#" class="text-center">
            <img src="{{root}}/assets/img/car.png" class="icons ">
            Cars
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%;">
          <span class="menu-divider"></span>
        </columns>
        <columns  small="4" large="3" class="show-for-large">
          <a href="#" class="text-center">
            <img src="{{root}}/assets/img/umbrella.png" class="icons ">
            Packages
          </a>
        </columns>
      </row>
    </columns>

    
    <columns></columns>

  </row>
</container>

